.detailWrapper {
    background: url('../../assets/festival4.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 3rem;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center center;
    color: white;
}

