.searchWrapper {
    background: url('../../assets/festival3.jpg') no-repeat;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin-top: -3rem;
    }

.searchBox {
    text-align: center;
    margin-top: 3rem;
}