
.homeButtons{
    margin:                 auto!important;
 
}

Button{
    background:             #626262;
    padding:                20px;
    width:                  180px;  
    height:                 45px;
    margin:                 auto!important;
}

.logtext{
    padding:                15px;
}

.regitext{
    padding:                15px;
}